@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.product-div-left-top{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 300px;
    margin: 0 auto;
}
.hover-container{
    display: none;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: right;
    margin-top: 10px;

}
.hover-container div{
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .hover-container div:active{
    padding: 0.1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    border:2 px solid rgb(246, 68, 98);
} */

.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.colors-3ft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex-wrap: wrap;
    font-size: 10px;
}

.colors-3ft  button{
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 0 7px 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.colors-3ft #btn1{
    background-color: rgb(255, 236, 218);
    color: rgb(47, 47, 47);
}
.colors-3ft #btn2{
    background-color: rgb(195, 110, 61);
    color:#f1f1f1;
}
.colors-3ft #btn3{
    background-color: rgb(255, 74, 150);
    color:#f1f1f1;
}
.colors-3ft #btn4{
    background-color: rgb(255, 46, 203);
    color:#f1f1f1;
}
#btn5{
    background-color: yellow;
    color: rgb(47, 47, 47);
}
.colors-sofa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 10px;
}

.colors-sofa button{
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 0 7px 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.colors-sofa #btn1{
    background-color: rgb(112, 205, 255);
    color: rgb(47, 47, 47);
}
.colors-sofa #btn2{
    background-color: rgb(255, 133, 214);
    color:#f1f1f1;
}
.colors-sofa #btn3{
    background-color: rgb(255, 81, 153);
    color:#f1f1f1;
}
.colors-sofa #btn4{
    background-color: rgb(147, 192, 255);
    color:#f1f1f1;
}

.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: #ff2a7c;
    border: 2px solid #ff2a7c;
    margin-right: 8px;
    border-radius: 20px 0px 20px 0px;
}


.fa-star{
    color: #ff2a7c;
}
.fa-star-half-alt{
    color: #ff2a7c;
}


.add-cart-btn:hover{
    background-color: #fff;
    color: #ff2a7c;
    border-radius: 20px 20px 20px 0px;
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}
